:root {
    --primary:black;
    --secondary:red;
    --tertiary:white;
    --quaternary:rgb(32, 32, 32);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    background-color: var(--primary);
    color: var(--tertiary);
    line-height: 1.9em;
    font-family: sans-serif;
}

/* common styles */

.image {
    width:40vw;
    grid-area: image;
    align-self: center;
    justify-self: center;
    border: 2px solid var(--tertiary);
}

.heading {
    padding:20px;
    font-size: 35px;
    font-weight: 530;
    text-align: center;
    color: var(--secondary);
}

.content {
    padding: 20px;

}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'section-1'
    'section-2'
    'section-3';
}
.menu-container{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    background-color: var(--primary);
    display: none;
}

.menu-icon{
    float: right;
    padding: 10px;
    cursor: pointer;
}
.menu-icon div{
    background-color: var(--tertiary);
    margin: 6px;
    width: 30px;
    height: 3px;
}
/*  */

.nav-bar {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: var(--quaternary);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-link {
    list-style: none;
    padding: 20px;
}
.nav-link a {
    text-decoration: none;
    font-size: 20px;
    color: var(--tertiary);
}
.nav-link a:hover {
    color: var(--secondary);
}
.section-1 {
    grid-area: section-1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    margin-left: 5vw;
    padding-bottom: 10px;
    text-align: center;
}

.image-1 {
    width: 40vw;
    margin-top: 45px;
}

#title{
    font-size: 50px;
    color: var(--secondary);
    font-weight: 500;
    padding: 20px;
}

.caption {
    padding: 20px;
}

/*Section 2*/

.section-2 {
    grid-area: section-2;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: 
    'image about'
    'image about';
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.tribute-info {
    grid-area: about;
}


/*section 3*/

.section-3 {
    grid-area: section-3;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas: 
    'films image'
    'films image';
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.time-line {
    background-color: var(--quaternary);
    margin: 20px;
    padding: 20px;

}

.list {
    padding:4vh 7vw;
    list-style-type: square;
}

.more-info {
    padding: 40px;
    text-align: center;
}
@media screen and  (max-width:600px) {
    .menu-container{
        display: block;
    }
    .nav-bar{
        transform:rotatex(90deg);
        transform-origin: 10% 10%;
        transition: .5s;
        transition-property:transform;
    }
    .nav-bar.active{
        top: 0;
        transform: rotatex(0deg);
    }
    .nav-links{
        flex-direction: column;
        padding-top: 40px;
        
    }
    .nav-link{
        padding-top: 20px;
    }
    
    .section-1{
        flex-direction: column-reverse;
    }
    .image , .image-1{
        width: 90vw;
    }
    #title{
        font-size: 40px;
    }
    .section-2 {
        margin-top: 0px;
        padding: 5px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'image'
        'about';
    }

    .section-3 {
        margin-top: 10px;
        padding: 5px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'image'
        'about';
    }
}