*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:black;
    color: white;
    line-height: 1.7;
    font-family: monospace;
}
#row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#heading{
    text-align: center;
    padding: 5px;
}
#title{
    color: red;
    font-size: 50px;
    font-weight: bold;
}
#image{
    width:40vw;
}
.row-2{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0;
}
.about-img{
    width:40vw;
    height: auto;
    border-radius: 10px;
    border: white solid ;
    
}
.tribute-info{
    
    width: 50vw;
}
h2{
    font-size: 35px;
    text-align: center;
    color: red;
    padding: 5px;   
}
.tribute-info p{
    padding: 8px;
    text-align: center;
    
}
.nav{
    height: 80px;
    font-size: 30px;
    background-color: rgb(32, 32, 32);
}
.nav-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-link{
    text-align: center;
}
.links{
    padding-top: 18px;
    text-decoration: none;
    color: white;
    display: block;
}
.links:hover{
    color: red;
}
.row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.films{
    width: 50vw;
    padding: 20px;
    text-align: center;
    }
    .films-imag{
        width:40vw;
        height: auto;
        border-radius: 10px;
        border: white solid ;
    }
    .more-info{
        text-align: center;
        padding: 20px;
    }
    .time-line{
        background-color: rgb(32, 32, 32);
        margin: 30px;
        box-shadow:3px 3px 1px 1px rgb(26, 25, 25);
    }
    .list{
        padding:4vh 7vw;
        list-style-type: square;
    }
@media screen and (max-width: 600px){
    .nav{
        display: none;
    }
    #row-1{
        flex-direction: column-reverse;
        align-items: center;
    }
    #heading{
        padding: 3vw;
    }
    .row-2{
        flex-direction: column;

    }
    .about-img{
        margin:5vw;
        width: 90vw;
    }
    .tribute-info{
        width:100vw;
    }
    .films{
        width: 100vw;
    }
    .row-3{
        flex-direction: column-reverse;
    }
    .films-imag{
        margin:5vw;
        width: 90vw;
    }
}